

<div class="question_container center">

<h1><%= User.find_by(id:(Question.find(@question_id).user_id)).name %>'s answer</h1>


<h2> <%= Question.find(@question_id).content %></h2>
<!--
(Question.find(@question_id).user_id) = 10


User.find_by(id:(Question.find(@question_id).user_id)).name -->

<h2> <%= @answer %> </h2>


</div>