<h1><%= current_user.name %>'s Profile Page</h1>


<h2>Profile</h2>
<form method="post" action="/logout">
    <input type="submit" value="logout">
</form>

<p>name:<%= current_user.name %></p>
<p>email:<%= current_user.email %></p>


<h2>Questions that you have asked</h2>




<h2>Answers that you have contributed</h2>