

<div class="signup">

    <div class="center">

        <div class="middle">
            <h1 style="color: green; font-size: -webkit-xxx-large; margin-bottom: 0;">QUORA</h1>
            <h3 style = "margin-top: 5;">A place to share knowledge and better understand the world</h3>
        </div>

        <div class="container">
            <div class = "left" class ="textboxid">
                <form method="post" action="/signup">
                    <input type="text" placeholder="Name" name="user[name]" class ="textboxid">
                    <input type="text" placeholder="Email" name="user[email]" class ="textboxid">
                    <input type="password" placeholder="password" name="user[password]" class ="textboxid">
                    <div>
                        <p style="float: left; font-size: 10px; white-space: normal; width: 150px;">Our Terms of Service and Privacy Policy</p>
                        <input type="submit" value ="Sign up" class ="sgnupBtn" style="margin-top: 15px; margin-left: 10px;">
                        <div id="abc">
                            <p><%= @msg if @msg %></p>
                        </div>
                    </div>


                </form>
            </div>
        </div>

        <div class="vl"></div>

        <div class="container">
            <div class = "right">
                <form method="post" action="/login">
                    <input type="text" placeholder="Email" name="user[email]" class ="textboxid">
                    <input type="password" placeholder="password" name="user[password]" class ="textboxid">
                    <div>
                        <p style="float: left;">forgot password?</p>
                        <input type="submit" value="login" class ="sgnupBtn" style="margin-top: 15px; margin-left: 10px;">
                    </div>
                </form>
            </div>
       </div>




    </div>



</div>